h1 {
	margin: 20px auto;
	text-align: center;
}
.labels {
	display: flex;
	font-size: 19px;
	font-weight: 600;
}
.labels span {
	text-align: center;
	width: 33%;
	margin: 7px 0;
}

.inputs {
	display: flex;
	justify-content: space-around;
}

input[type="number"] {
	padding: 8px;
	width: 80px;
	background: rgb(59 61 66);
	border: none;
	color: #fff;
	text-align: center;
	font-size: 30px;
	margin: 0 2px;
}

input[type="submit"] {
	height: 50px;
	margin-top: 25px;
	outline: none;
	background: rgb(59 61 66);
	border: 0;
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	border-radius: 7px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width: 420px) {
	h1 {
		font-size: 24px;
	}
}
