.nav {
	height: 90px;
	background: rgb(36 38 41);
}
.nav-inner {
	padding: 5px 7%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}

.nav-links {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.nav-links > * {
	margin: 0;
}
.nav-logo {
	display: flex;
	align-items: center;
}

.nav-logo .logo {
	height: 47px;
}

.nav-logo .sitename {
	font-size: 34px;
	margin-left: 20px;
}

@media screen and (max-width: 520px) {
	.nav-logo .sitename {
		font-size: 23px;
	}

	.nav-inner {
		padding: 5px 3%;
	}
}
