.container {
	width: max-content;
}

.resin .amount {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 30px;
}

.full {
	color: rgb(218, 49, 71);
}

.resin img {
	width: 110px;
}

.resin-counter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}

.resin-count {
	font-size: 150px;
	font-weight: 600;
	line-height: 85%;
	margin-left: 50px;
}

.colon {
	margin: 0 30px;
}
.minutes,
.seconds,
.colon {
	font-size: 120px;
}

.fulldate {
	font-size: 40px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

@media screen and (max-width: 520px) {
	.fulldate {
		font-size: 30px;
	}
	.minutes,
	.seconds,
	.colon {
		font-size: 90px;
	}

	.resin-count {
		font-size: 120px;
		font-weight: 600;
		line-height: 85%;
		margin-left: 50px;
	}
}
