* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
body {
	color: rgb(226, 226, 226);
	background: rgb(45, 47, 51);
	font-family: "Poppins", sans-serif;
}

button {
	outline: none;
	background: rgb(59, 61, 66);
	border: 0;
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	border-radius: 7px;
	transition: all 300ms ease;
	padding: 8px 15px;
}

button:hover {
	background: rgb(78, 81, 87);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 90px);
	margin: 0 auto;
}
